/.tgitconfig
/Client/Client.csproj
/Client/Client.Editor.csproj
/Client/Client.Editor.Plugins.csproj
/Client/Client.Plugins.csproj
/Client/Client.sln
/Client/Client.userprefs
/Client/LocalConfig
/Client/.vs

/Client/Assets/StreamingAssets
/Client/Assets/StreamingAssets.meta
/Android/CardSet/.gradle
/Android/CardSet/build
/Client/Log
/Client/Temp
/Client/bin
/Client/Library
/Client/Assets/Plugins/x86.meta
/Client/Assets/Plugins/x86_64.meta
/Client/Assets/Game/Resources/Effect.meta
/Client/Assets/Game/Resources/Prefab.meta
/Client/Assets/Game/Resources/Scene.meta
/Client/Assets/Game/Resources/Sound.meta
/Client/Assets/Plugins/x86.meta
/Client/Assets/Plugins/x86_64.meta
